@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  min-height: 100vh;
}

.container {
  padding: 0.4rem;
  font-size: 1.2rem;
}

img.portrait {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    margin: auto;
    outline: 2px solid gray;
    outline-offset: 0.5rem;
  }

img.portfolio {
    max-height: 13rem;
    width: auto;
  }

h1, h2 , h3 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin: 10px;
}

h1 {
  font-size: 3rem; 
}

a:visited {
  color: gray;
}

a:hover {
  color: aqua;
}

a:link {
  text-decoration: none;
  color: gray;
}

.center {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
  }


nav {
  color:gray;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
}

footer {
  font-size: 0.7rem;
  text-align: center;
  margin-top: 10px;
}

hr {
  border: 2px solid rgb(80, 80, 80);
}

p {
  margin: 0.8rem;
  line-height: 1.4;
  font-weight: 500;
}

li {
  line-height: 1.4;
}

table {
  margin: 1em;
}

.contact {
  margin-bottom: 0.5px;
  margin-top: 0.5px;
  margin-left: 0%;
}

.aboutme {
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#github-logo {
  max-height: 26px;
}

iframe {
  margin: 25px;
}