body {
  background: black;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  /* Lägg in saker i body för att inte upprepa kod */
}

img {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
  }

h1, h2 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

h1 {
  font-size: 48px; 
}

a:visited {
  color: gray;
}

a:hover {
  color: aqua;
}

a:link {
  text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

html {
    font-size: 24px;
    /* Lägg in saker i html för att gälla allt och det inte passar i body*/
}
nav {
  color:gray;
}

footer {
  font-size: 12px;
  text-align: center;
}

hr {
  border: 1px solid rgb(80, 80, 80);
}
